
body {
    background-color: #444;
    background: url("slate.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    min-height: 400px;
}



#clock {    
    width: 100vw;

    color:#ccc;
    font-size: 6vh;
    margin: 4vh auto;
    font: inherit;
    text-align: center;
    text-shadow: 4px 4px 8px #222;
    font-family: 'Roboto Condensed', sans-serif;


}

#time {
    width: 100vw;

    font: inherit;
    color:#ccc;
    font-size: 12vh;
    float: left;

 
}

#day, #date {
    float: left;
    width: 48%;
    font-size: 4vh;
    margin: 1%;

}

#day {
    text-align: right;

}

#date {
        text-align: left;
}

#timerContain {
    height: 30vh;
    width: 30vw;
    clear: left;
    margin: 0 auto;

    box-shadow: 0vh 0vw 3vw #222;;
}